html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* Voeg hier extra stijlregels toe als aanvulling op Bootstrap */   
#home {
    position: relative;
    overflow: hidden;
    height: 100vh; /* Zorg ervoor dat de sectie altijd een volledige hoogte van het scherm heeft */
}

#home .overlay { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.5); /* Optioneel, voor meer contrast */
}

.about-box {
    max-width: 800px;
    background: rgba(0, 0, 0, 0.1); /* Transparante witte gloed */
    backdrop-filter: blur(10px); /* Glas-effect */
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Subtiele schaduw */
    color: #fff;
}

/* Voeg marge toe aan de tekst van het hamburger menu */
.navbar-nav .nav-item .nav-link , .navbar-brand {
    margin-left: 15px; /* Pas de waarde aan naar wens */
}

.nav-link {
    color: rgba(255, 255, 255, 0.7);
    transition: color 0.3s;
}

#skills , #portfolio , #about
{
    margin-bottom: 40px;
}

.nav-link:hover {
    color: #fff;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: brightness(0) invert(1);
    opacity: 1;
}

.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
    filter: brightness(0) invert(1) contrast(2);
}

#ervaring{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.carousel-inner img {
    width: 100%; /* Zorgt ervoor dat de breedte altijd 100% is */
    height: 650px; /* Pas dit aan naar de gewenste hoogte */
    object-fit: cover; /* Zorgt ervoor dat de afbeelding goed wordt bijgesneden zonder te rekken */
}

.carousel-caption h5 {
    color: #ffd700;
}

.carousel-caption p {
    color: #ddd;
}
 
.skill-box {
    transition: transform 0.3s, box-shadow 0.3s;
}

.skill-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
} 

.form-control {
    border: 1px solid #444;
}

.form-control:focus {
    border-color: #fff;
    box-shadow: none;
}

#portfolio .project {
    transition: transform 0.3s, box-shadow 0.3s;
}

#portfolio .project:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

footer {
    font-size: 0.9rem;
}

#experience-goals.visible{
    opacity: 1;
    transform: translateX(0);
}

#about {
    opacity: 0; /* Begin met onzichtbaar */
    transform: translateY(50px); /* Startpositie lager */
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

#about.visible {
    opacity: 1;
    transform: translateY(0);
}

#scrollToTopBtn {
    position: fixed;
    bottom: 30px;
    right: -60px;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, right 0.5s ease-in-out;
}

#message {
    resize: none;
}

#message-error{
    top: 25%;
}

.error-message {
    color: #ff4d4d;
    font-size: 0.875rem;
    display: none;
    position: absolute;
    top: 75%;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}
.form-control.error {
    border-color: #ff4d4d;
    position: relative;
}