html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* Voeg hier extra stijlregels toe als aanvulling op Bootstrap */   
#home {
    position: relative;
    overflow: hidden;
    height: 100vh; /* Zorg ervoor dat de sectie altijd een volledige hoogte van het scherm heeft */
}

#home .overlay { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.5); /* Optioneel, voor meer contrast */
}

.about-box {
    max-width: 800px;
    background: rgba(0, 0, 0, 0.1); /* Transparante witte gloed */
    backdrop-filter: blur(10px); /* Glas-effect */
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Subtiele schaduw */
    color: #fff;
}

/* Voeg marge toe aan de tekst van het hamburger menu */
.navbar-nav .nav-item .nav-link , .navbar-brand {
    margin-left: 15px; /* Pas de waarde aan naar wens */
}

.navbar-toggler {
    position: absolute;
    top: 20px; /* Adjust the value as needed */
    right: 20px; /* Adjust the value as needed */
    z-index: 10; /* Ensure it stays on top of the photo */
}

.nav-link {
    color: rgba(255, 255, 255, 0.7);
    transition: color 0.3s;
}

#skills , #portfolio , #about
{
    margin-bottom: 40px;
}

.nav-link:hover {
    color: #fff;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: brightness(0) invert(1);
    opacity: 1;
}

.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
    filter: brightness(0) invert(1) contrast(2);
}

.carousel-control-prev,
.carousel-control-next {
    top: 35%;
    transform: translateY(-50%);
}

#ervaring{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.carousel-inner img {
    width: 100%; /* Zorgt ervoor dat de breedte altijd 100% is */
    height: 600px; /* Pas dit aan naar de gewenste hoogte */
    object-fit: cover; /* Zorgt ervoor dat de afbeelding goed wordt bijgesneden zonder te rekken */
}

.carousel-caption h5 {
    color: #ffd700;
}

.carousel-caption p {
    color: #ddd;
}
 
.skill-box {
    transition: transform 0.3s, box-shadow 0.3s;
}

.skill-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
} 

.skill-box:nth-child(odd) {
    background: linear-gradient(to bottom, #00161a, #0000cc);
}

.skill-box:nth-child(even) {
    background: linear-gradient(to top, #00161a, #0000cc);
}

.skill-box img {
    width: 56px; /* Adjust the size to match the icons */
    height: 56px; /* Adjust the size to match the icons */
    object-fit: contain;
}

[data-aos="fade-up"] {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

[data-aos="fade-up"].aos-animate {
    opacity: 1;
    transform: translateY(0);
}

.form-control {
    border: 1px solid #444;
}

.form-control:focus {
    border-color: #fff;
    box-shadow: none;
}

#portfolio .project {
    transition: transform 0.3s, box-shadow 0.3s;
}

#portfolio .project:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

footer {
    font-size: 0.9rem;
}

#experience-goals.visible{
    opacity: 1;
    transform: translateX(0);
}

#about {
    opacity: 0; /* Begin met onzichtbaar */
    transform: translateY(50px); /* Startpositie lager */
    transition: opacity 1s ease-out, transform 1s ease-out;
}

#about.visible {
    opacity: 1;
    transform: translateY(0);
}

#scrollToTopBtn {
    position: fixed;
    bottom: 30px;
    right: -60px;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, right 0.5s ease-in-out;
}

#message {
    resize: none;
}

#message-error{
    top: 25%;
}

.error-message {
    color: #ff4d4d;
    font-size: 0.875rem;
    display: none;
    position: absolute;
    top: 75%;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}
.form-control.error {
    border-color: #ff4d4d;
    position: relative;
}

.background-circles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.circle {
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    animation: move 10s linear infinite;
}

.circle:nth-child(1) {
    width: 100px;
    height: 100px;
    top: 10%;
    left: 10%;
    animation-duration: 25s;
}

.circle:nth-child(2) {
    width: 150px;
    height: 150px;
    top: 30%;
    left: 60%;
    animation-duration: 20s;
}

.circle:nth-child(3) {
    width: 200px;
    height: 200px;
    top: 70%;
    left: 20%;
    animation-duration: 30s;
}

.circle:nth-child(4) {
    width: 250px;
    height: 250px;
    top: 20%;
    left: 80%;
    animation-duration: 35s;
}

.circle:nth-child(5) {
    width: 300px;
    height: 300px;
    top: 60%;
    left: 50%;
    animation-duration: 20s;
}

.circle:nth-child(6) {
    width: 300px;
    height: 300px;
    top: 0%;
    left: 40%;
    animation-duration: 20s;
}

.circle:nth-child(7) {
    width: 300px;
    height: 300px;
    top: 60%;
    left: 10%;
    animation-duration: 20s;
}

.circle:nth-child(8) {
    width: 100px;
    height: 100px;
    top: 10%;
    left: 90%;
    animation-duration: 20s;
}

.circle:nth-child(9) {
    width: 150px;
    height: 150px;
    top: 20%;
    left: 30%;
    animation-duration: 20s;
}

@keyframes move {
    0% {
        transform: translateY(0) translateX(0);
    }
    50% {
        transform: translateY(-50px) translateX(50px);
    }
    100% {
        transform: translateY(0) translateX(0);
    }
}

@media (max-width: 767px) {
    [data-aos] {
        opacity: 1 !important;
        transform: none !important;
        transition: none !important;
    }

    #ervaring {
        background: linear-gradient(to bottom, #00161a, #0000cc) !important;
    }
    #doel {
        background: linear-gradient(to bottom, #0000cc, #00161a) !important;
    }

    .carousel-inner img {
        height: 270px; /* Pas dit aan naar de gewenste hoogte voor mobiele apparaten */
    }

    .carousel-caption {
        position: static;
        padding-top: 10px;
        text-align: center;
        background: linear-gradient(to bottom, #00161a, #0000cc); /* Add background for better readability */
        color: #fff; /* Ensure text is readable */
    }

    .skill-box img {
        width: 56px; /* Adjust the size to match the icons */
        height: 37.1px; /* Adjust the size to match the icons */
        object-fit: contain;
    }
    
}